:root{
    --font-family: "Roboto", sans-serif;
    --font-weight: 400;
    --small-font-weight: 200;
    --background-color: #DB5461;
    --navigation-background: #AAACB0;
    --font-color: #002A32;
    --alt-background: #F8E16C;

}

body {
    font-family: var(--font-family);
    display: grid;
    grid-template: auto auto auto / auto auto auto;
}

header {
    grid-column: 1/4;
}

h1 {
    text-align: center;;
}

main {
    width: 90%; /* Use 90% of the viewport width */
    max-width: 1200px; /* Limit the maximum width */
    margin: 0 auto; /* Center the main container */
}

#movies-container {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }

.movie-card{ 
    width: 100%;
    height: auto;
    margin: .5rem;
    padding: 1.5rem;
}
  

.movie-card img {
    display: block;
    width: 95%; 
    height: auto; 
    max-width: 500px; 
    margin-left:2.5%;
    margin-right:2.5%;
    
    
}

.movie-card textarea {
    width: 95%; 
    height: auto;
    margin-top: 1rem; 
    margin-left:2.5%;
    margin-right:2.5%;
}

.movie-card button {
    width: 150px;
    height: 35px;
    margin-left: 2.5%;

}

.coming-soon-movies, .recently-released-movies {
    display: block;
    border: solid 2px var(--font-color);
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;

}
.coming-soon-movies h2, .recently-released-movies h2 {
    text-align: center;
    margin: auto;

}
.coming-soon-movies h3, .recently-released-movies h3 {
    text-align: center;
    margin: auto;
    padding-top: 2rem;
}
.coming-soon-movies img, .recently-released-movies img {
    display:block;
    height: auto;
    width: 100%;
    margin: auto;
}



footer {
    grid-column: 1 / 4;
    font-size: small;
    text-align: center;
    padding-top: 2rem;
}