body {
    display: grid;
    /* height: 200vh; */
    grid-template: auto auto auto / auto 1fr auto;
}

h1 {
    background-color: cadetblue;
    color: white;
    grid-column: 1 / 4;
    margin: 1rem;
    grid-row: 1/2;
    height: 3rem;
    padding: 1rem;
    text-align: center;
    align-items: center;

}

header {
    background: darkblue;
    padding: 1rem;
    grid-column: 1 / 4;
    margin: 1rem;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: white;
    font-size: larger;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}