@media screen and (min-width: 675px) {

    main {
        position: relative;
        display: grid;
        grid-template-columns: 3rem 246px auto 246px 3rem;
        grid-template-rows: 2rem auto 290px 2rem;
        
    }
    section {
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .data {
        margin-left: 3rem;
        margin-top: 2rem;
    }


    .weather {
    
        bottom: 0;
        right: 0;
        margin-right: 3rem;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: 2rem; 
        margin-left: 3rem;
        width: 246px;
        height: 290px;
        padding-bottom: 1rem;
        z-index: 10;
         
    }

    h2 {
        color: black;
        padding-top: .5rem;
        padding-bottom: .5rem;
        margin-top: .5rem;
        background-color: #156064;
        margin-right: 2.5rem;
        margin-left: -1.5rem;
        border-top: 0rem solid;
    }

    .data h2, .weather h2::after {
        border-top: 0;
    }

    
}