:root {
    --font-weight: 400;
    --small-font-weight: 300;
    font-family: Montserrat, serif;
    --background-colo: #2176AE;
    --header-color: #eee5e9;
    --font-weight: 600;
    --small-font-weight: 400;

}

body {
    display: grid;
    grid-template: auto auto auto / auto auto auto;

}

header {
    grid-column: 1 / 4;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem;
    background-color: var(--background-colo);
    color: var(--header-color);
    font-weight: var(--font-weight);
    font-size: x-large;
    
}

#menu{
    display: none;
}

.navigation {
    display: flex; /* Ensure the navigation items are arranged horizontally */
    gap: 2rem; /* Space out the navigation items */
    list-style: none;
    padding: 0; /* Remove any default padding */
    align-items: center;
    font-size: medium;
    

}

.navigation a{
    text-decoration: none;
    color: #eee5e9;
    align-items: center;
}

li a:hover{
    color: #9a7197;
}

main {
    width: 600px;
    margin: 0 auto;
}

figure {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
img{ 
    width: 100%;
    height: auto;
    margin: .5rem;
}
figcaption {
    font-size: smaller;
}

footer{
    grid-column: 1 / 4;
    background-color: var(--background-colo);
    color: var(--header-color);
    font-weight: var(--small-font-weight);
    font-size: small;
    text-align: center;
}