@media screen and (min-width: 700px) {
    
    #menu {
		display: none; 
	}

	 .navigation {
        display: flex;
		flex-direction: row !important;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	} 
} 